@use 'sass-utils' as *;

.uni-card {
  position: relative;
}

.uni-card__media {
  img {
    width: 100%;
  }
}

.uni-card__body {
  padding-top: 20px;
}

.uni-card__description {
  margin-top: 15px;

  @include trim-margin;
}

.uni-card__footer {
  padding-top: 20px;
}

.uni-card__link {
  a {
    position: absolute;
    inset: 0;
  
    @include hide-text;
  }
}
