<div class="uni-card">
  <div class="uni-card__header">
    <div class="uni-card__media">
      {% block media %}{% endblock %}
    </div>
  </div>
  <div class="uni-card__body">
    <div class="uni-card__title">
      {% block title %}{% endblock %}
    </div>
    <div class="uni-card__description">
      {% block description %}{% endblock %}
    </div>
  </div>
  <div class="uni-card__footer">
    {% block footer %}{% endblock %}
  </div>
  <div class="uni-card__link">
    {% block link %}{% endblock %}
  </div>
</div>
