@use "@xenyo/sass-utils" as *;

.block--local-tasks-block {
  position: fixed;
  inset: auto 0 0 0;
  background: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  font-family: sans-serif;
  font-weight: normal;

  @include below($sm) {
    display: none;
  }
  
  body.toolbar-hidden & {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  li {
    &:first-child {
      margin-left: 0;
    }
  }

  a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: gray;

    &:hover {
      color: black;
      background: whitesmoke;
    }

    &.is-active {
      color: black;
      padding-bottom: 8px;
      border-bottom: 2px solid black;
    }
  }
}
