@use "sass-utils" as *;

.block--local-tasks-block {
  position: fixed;
  inset: auto 0 0 0;
  background: #f5f5f2;
  border-top: 1px solid #aaaaaa;
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
  font-weight: normal;
  font-size: 13px;
  z-index: 10;

  @include below($md) {
    display: none;
  }
  
  body.toolbar-hidden & {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  li {
    &:first-child {
      margin-left: 0;
    }
  }

  a {
    text-decoration: none;
    display: block;
    padding: 9px 18px;
    color: #565656;

    &:hover {
      color: #000000;
      background: white;
    }

    &.is-active {
      color: #000000;
      // padding-bottom: 8px;
      // border-bottom: 2px solid #000000;
      font-weight: bold;
    }
  }
}

body {
  &.toolbar-hidden {
    padding-bottom: 0 !important;
  }
}
