// Universal styles
*, *::before, *::after {
  // Use a more intuitive box-sizing model
  box-sizing: border-box;

  // Remove default margin
  margin: 0;

  // Smart line height
  line-height: calc(1em + 8px);

  // Avoid text overflows
  overflow-wrap: break-word;
}

// Root styles
html, body {
  // Allow percentage-based heights in the application
  height: 100%;

  // Set default font
  font-family: sans-serif;
}

// Improve media element defaults
img, picture, video, canvas, svg,
input, button, textarea, select {
  display: block;
  max-width: 100%;
}

// Add form element typography inheritance
input, button, textarea, select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

// Normalize link styles
a {
  color: #003ecc;
}
