@use "@xenyo/sass-utils" as *;

.container:not([data-asset-autoload]) {
  // Horizontally center the container in the parent
  margin: 0 auto;

  // Prevent shrinking in case the parent is a grid or flex element
  width: 100%;

  // Ensure the element uses border-box
  box-sizing: border-box;

  // The max width of the container including padding
  max-width: 1440px;

  // The horizontal padding between the parent and the container
  padding: 0 25px;

  @include below($sm) {
    padding: 0 15px;
  }
}
