<div class="uni-modal{{ variant ? ' uni-modal--' ~ variant }}">
  <div class="uni-modal__window">
    <div class="uni-modal__header">
      {% block header %}
        {{ header }}
        <div class="uni-modal__close" data-uni-modal-close>
          <span class="fa-regular fa-xmark"></span>
        </div>
      {% endblock header %}
    </div>
    <div class="uni-modal__main">
      {{ main }}
    </div>
  </div>
</div>
