@use 'sass-utils' as *;

.card {
  position: relative;
}

.card__media {
  img {
    width: 100%;
  }
}

.card__body {
  padding-top: 20px;
}

.card__description {
  margin-top: 15px;

  @include trim-margin;
}

.card__footer {
  padding-top: 20px;
}

.card__link {
  position: absolute;
  inset: 0;

  @include hide-text;
}
